@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#appointment-screen {
  height: 100vh;  /* 100% de la hauteur de l’écran */
  width: 100vw;   /* 100% de la largeur de l’écran */
  display: flex;
  align-items: center;
  justify-content: center;
}

